@charset "UTF-8";

html {
    line-height: 162%;
    width: 98%;
    margin: auto;
    margin-bottom: 1em;
}

pre {
    line-height: 150%;
    width: 98%;
    margin: auto;
}

section {
    margin-top: 2em;
}

h1, h2, h3 {
    margin-top: 2em;
    font-family: sans-serif;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

address {
    margin-top: 5rem;
}
